USE [DM_1305_GroupMBenchmarkingUS]
GO
/****** Object:  Table [dbo].[RPT_PRISMA_COMPLIANCE_2015_BM]    Script Date: 8/9/2017 11:15:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RPT_PRISMA_COMPLIANCE_2015_BM](
	[AgencyAlphaCode] [nvarchar](4000) NULL,
	[AgencyName] [nvarchar](32) NULL,
	[LocationCompanyCode] [nvarchar](4000) NULL,
	[CampaignStartDate] [smalldatetime] NULL,
	[CampaignEndDate] [smalldatetime] NULL,
	[CampaignStatus] [nvarchar](4000) NULL,
	[RateType] [nvarchar](4000) NULL,
	[Budget] [float] NULL,
	[BudgetApproved] [nvarchar](4000) NULL,
	[CampaignUser] [nvarchar](4000) NULL,
	[MediaCode] [nvarchar](4000) NULL,
	[MediaName] [nvarchar](4000) NULL,
	[AdvertiserCode] [nvarchar](4000) NULL,
	[AdvertiserName] [nvarchar](4000) NULL,
	[ProductCode] [nvarchar](4000) NULL,
	[ProductName] [nvarchar](4000) NULL,
	[EstimateCode] [nvarchar](4000) NULL,
	[EstimateName] [nvarchar](4000) NULL,
	[EstimateStartDate] [smalldatetime] NULL,
	[EstimateEndDate] [smalldatetime] NULL,
	[SupplierCode] [nvarchar](4000) NULL,
	[SupplierName] [nvarchar](4000) NULL,
	[BuyType] [nvarchar](4000) NULL,
	[BuyCategory] [nvarchar](4000) NULL,
	[CampaignId] [int] NULL,
	[CampaignPublicId] [nvarchar](4000) NULL,
	[CampaignName] [nvarchar](4000) NULL,
	[PackageType] [nvarchar](4000) NULL,
	[PackageId] [int] NULL,
	[PlacementId] [int] NULL,
	[ParentId] [int] NULL,
	[PlacementName] [nvarchar](4000) NULL,
	[PlacementType] [nvarchar](4000) NULL,
	[Site] [nvarchar](4000) NULL,
	[Dimension] [nvarchar](4000) NULL,
	[Positioning] [nvarchar](4000) NULL,
	[CostMethod] [nvarchar](4000) NULL,
	[UnitType] [nvarchar](4000) NULL,
	[Rate] [float] NULL,
	[IONumber] [nvarchar](4000) NULL,
	[ServedBy] [nvarchar](4000) NULL,
	[PlacementMonth] [int] NULL,
	[PlacementMonthlyStartDate] [smalldatetime] NULL,
	[PlacementMonthlyEndDate] [smalldatetime] NULL,
	[PlannedAmount] [float] NULL,
	[PlannedUnits] [bigint] NULL,
	[PlannedImpressions] [bigint] NULL,
	[PlannedClicks] [bigint] NULL,
	[PlannedActions] [bigint] NULL,
	[IOAmount] [float] NULL,
	[SupplierUnits] [bigint] NULL,
	[SupplierImpressions] [bigint] NULL,
	[SupplierClicks] [bigint] NULL,
	[SupplierActions] [bigint] NULL,
	[SupplierCost] [float] NULL,
	[AdserverUnits] [bigint] NULL,
	[AdserverImpressions] [bigint] NULL,
	[AdserverClicks] [bigint] NULL,
	[AdserverActions] [bigint] NULL,
	[AdserverCost] [float] NULL,
	[DeliveryExists] [nvarchar](4000) NULL,
	[MasterClientName] [nvarchar](4000) NULL,
	[ChildCount] [int] NULL,
	[AD FORMAT FOR NON-1X1 UNITS] [nvarchar](4000) NULL,
	[Channel Type 1] [nvarchar](4000) NULL,
	[BUY TYPE 2] [nvarchar](4000) NULL,
	[Channel Type 2] [nvarchar](4000) NULL,
	[Rich Media Types - Format] [nvarchar](4000) NULL,
	[RICH MEDIA/4TH PARTY VENDOR] [nvarchar](4000) NULL,
	[TARGETING TYPE 2] [nvarchar](4000) NULL,
	[BUY TYPE] [nvarchar](4000) NULL,
	[TARGETING TYPE 1] [nvarchar](4000) NULL,
	[Targeting Audience Type] [nvarchar](4000) NULL,
	[Targeting Delivery Type] [nvarchar](4000) NULL,
	[CPA KPI] [nvarchar](4000) NULL,
	[SECONDARY CONTENT CHANNEL] [nvarchar](4000) NULL,
	[TRACKING METHOD] [nvarchar](4000) NULL,
	[Targeting Context Type] [nvarchar](4000) NULL,
	[PRIMARY CONTENT CHANNEL] [nvarchar](4000) NULL,
	[CONTENT CHANNEL DETAILS] [nvarchar](4000) NULL,
	[Refreshed_Date] [date] NULL,
	[AdserverName] [nvarchar](4000) NULL,
	[AdserverSupplierName] [nvarchar](4000) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RPT_PRISMA_COMPLIANCE_CUST_COLS]    Script Date: 8/9/2017 11:15:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RPT_PRISMA_COMPLIANCE_CUST_COLS](
	[AgencyAlphaCode] [nvarchar](4000) NULL,
	[AgencyName] [nvarchar](32) NULL,
	[LocationCompanyCode] [nvarchar](4000) NULL,
	[CampaignStartDate] [smalldatetime] NULL,
	[CampaignEndDate] [smalldatetime] NULL,
	[CampaignStatus] [nvarchar](4000) NULL,
	[RateType] [nvarchar](4000) NULL,
	[Budget] [float] NULL,
	[BudgetApproved] [nvarchar](4000) NULL,
	[CampaignUser] [nvarchar](4000) NULL,
	[MediaCode] [nvarchar](4000) NULL,
	[MediaName] [nvarchar](4000) NULL,
	[AdvertiserCode] [nvarchar](4000) NULL,
	[AdvertiserName] [nvarchar](4000) NULL,
	[ProductCode] [nvarchar](4000) NULL,
	[ProductName] [nvarchar](4000) NULL,
	[EstimateCode] [nvarchar](4000) NULL,
	[EstimateName] [nvarchar](4000) NULL,
	[EstimateStartDate] [smalldatetime] NULL,
	[EstimateEndDate] [smalldatetime] NULL,
	[SupplierCode] [nvarchar](4000) NULL,
	[SupplierName] [nvarchar](4000) NULL,
	[BuyType] [nvarchar](4000) NULL,
	[BuyCategory] [nvarchar](4000) NULL,
	[CampaignId] [int] NULL,
	[CampaignPublicId] [nvarchar](4000) NULL,
	[CampaignName] [nvarchar](4000) NULL,
	[PackageType] [nvarchar](4000) NULL,
	[PackageId] [int] NULL,
	[PlacementId] [int] NULL,
	[ParentId] [int] NULL,
	[PlacementName] [nvarchar](4000) NULL,
	[PlacementType] [nvarchar](4000) NULL,
	[Site] [nvarchar](4000) NULL,
	[Dimension] [nvarchar](4000) NULL,
	[Positioning] [nvarchar](4000) NULL,
	[CostMethod] [nvarchar](4000) NULL,
	[UnitType] [nvarchar](4000) NULL,
	[Rate] [float] NULL,
	[IONumber] [nvarchar](4000) NULL,
	[ServedBy] [nvarchar](4000) NULL,
	[PlacementMonth] [int] NULL,
	[PlacementMonthlyStartDate] [smalldatetime] NULL,
	[PlacementMonthlyEndDate] [smalldatetime] NULL,
	[PlannedAmount] [float] NULL,
	[PlannedUnits] [bigint] NULL,
	[PlannedImpressions] [bigint] NULL,
	[PlannedClicks] [bigint] NULL,
	[PlannedActions] [bigint] NULL,
	[IOAmount] [float] NULL,
	[SupplierUnits] [bigint] NULL,
	[SupplierImpressions] [bigint] NULL,
	[SupplierClicks] [bigint] NULL,
	[SupplierActions] [bigint] NULL,
	[SupplierCost] [float] NULL,
	[AdserverUnits] [bigint] NULL,
	[AdserverImpressions] [bigint] NULL,
	[AdserverClicks] [bigint] NULL,
	[AdserverActions] [bigint] NULL,
	[AdserverCost] [float] NULL,
	[DeliveryExists] [nvarchar](4000) NULL,
	[MasterClientName] [nvarchar](4000) NULL,
	[ChildCount] [int] NULL,
	[AdserverName] [nvarchar](4000) NULL,
	[AdserverSupplierName] [nvarchar](4000) NULL,
	[AD FORMAT FOR NON-1X1 UNITS] [nvarchar](4000) NULL,
	[Channel Type 1] [nvarchar](4000) NULL,
	[BUY TYPE 2] [nvarchar](4000) NULL,
	[Channel Type 2] [nvarchar](4000) NULL,
	[Rich Media Types - Format] [nvarchar](4000) NULL,
	[RICH MEDIA/4TH PARTY VENDOR] [nvarchar](4000) NULL,
	[TARGETING TYPE 2] [nvarchar](4000) NULL,
	[BUY TYPE] [nvarchar](4000) NULL,
	[TARGETING TYPE 1] [nvarchar](4000) NULL,
	[Targeting Audience Type] [nvarchar](4000) NULL,
	[Targeting Delivery Type] [nvarchar](4000) NULL,
	[CPA KPI] [nvarchar](4000) NULL,
	[SECONDARY CONTENT CHANNEL] [nvarchar](4000) NULL,
	[TRACKING METHOD] [nvarchar](4000) NULL,
	[Targeting Context Type] [nvarchar](4000) NULL,
	[PRIMARY CONTENT CHANNEL] [nvarchar](4000) NULL,
	[CONTENT CHANNEL DETAILS] [nvarchar](4000) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COMPLIANCE_PRISMA_OVERRIDE]    Script Date: 8/9/2017 11:15:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPLIANCE_PRISMA_OVERRIDE](
	[CampaignId] [int] NULL,
	[CampaignPublicId] [nvarchar](4000) NULL,
	[CampaignName] [nvarchar](4000) NULL,
	[AdvertiserCode] [nvarchar](4000) NULL,
	[AdvertiserName] [nvarchar](4000) NULL,
	[ProductCode] [nvarchar](4000) NULL,
	[EstimateCode] [nvarchar](4000) NULL,
	[SupplierId] [int] NULL,
	[SupplierCode] [nvarchar](4000) NULL,
	[SupplierName] [nvarchar](4000) NULL,
	[MediaCode] [nvarchar](4000) NULL,
	[BuyMonth] [nvarchar](4000) NULL,
	[BuyType] [nvarchar](4000) NULL,
	[BuySource] [nvarchar](4000) NULL,
	[BuyAmount] [float] NULL,
	[BuyRcnAmount] [float] NULL,
	[IsOverride] [nvarchar](4000) NULL,
	[BuySendDate] [smalldatetime] NULL,
	[BuyRefNumber] [nvarchar](4000) NULL,
	[CampaignUser] [nvarchar](4000) NULL,
	[AgencyAlphaCode] [nvarchar](4000) NULL,
	[AgencyName] [nvarchar](32) NULL,
	[LocationCompanyCode] [nvarchar](4000) NULL,
	[MasterClientName] [nvarchar](4000) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RPT_PRISMA_OVERRIDE_2015_BM]    Script Date: 8/9/2017 11:15:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RPT_PRISMA_OVERRIDE_2015_BM](
	[CampaignId] [int] NULL,
	[CampaignPublicId] [nvarchar](4000) NULL,
	[CampaignName] [nvarchar](4000) NULL,
	[AdvertiserCode] [nvarchar](4000) NULL,
	[AdvertiserName] [nvarchar](4000) NULL,
	[ProductCode] [nvarchar](4000) NULL,
	[EstimateCode] [nvarchar](4000) NULL,
	[SupplierId] [int] NULL,
	[SupplierCode] [nvarchar](4000) NULL,
	[SupplierName] [nvarchar](4000) NULL,
	[MediaCode] [nvarchar](4000) NULL,
	[BuyMonth] [nvarchar](4000) NULL,
	[BuyType] [nvarchar](4000) NULL,
	[BuySource] [nvarchar](4000) NULL,
	[BuyAmount] [float] NULL,
	[BuyRcnAmount] [float] NULL,
	[IsOverride] [nvarchar](4000) NULL,
	[BuySendDate] [smalldatetime] NULL,
	[BuyRefNumber] [nvarchar](4000) NULL,
	[Campaignuser] [nvarchar](4000) NULL,
	[AgencyAlphaCode] [nvarchar](4000) NULL,
	[AgencyName] [nvarchar](32) NULL,
	[LocationCompanyCode] [nvarchar](4000) NULL,
	[MasterClientName] [nvarchar](4000) NULL,
	[Refreshed_Date] [date] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RPT_STG_OTHER_PKG_TYPS]    Script Date: 8/9/2017 11:15:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RPT_STG_OTHER_PKG_TYPS](
	[AgencyAlphaCode] [nvarchar](4000) NULL,
	[AgencyName] [nvarchar](32) NULL,
	[LocationCompanyCode] [nvarchar](4000) NULL,
	[CampaignStartDate] [smalldatetime] NULL,
	[CampaignEndDate] [smalldatetime] NULL,
	[CampaignStatus] [nvarchar](4000) NULL,
	[RateType] [nvarchar](4000) NULL,
	[Budget] [float] NULL,
	[BudgetApproved] [nvarchar](4000) NULL,
	[CampaignUser] [nvarchar](4000) NULL,
	[MediaCode] [nvarchar](4000) NULL,
	[MediaName] [nvarchar](4000) NULL,
	[AdvertiserCode] [nvarchar](4000) NULL,
	[AdvertiserName] [nvarchar](4000) NULL,
	[ProductCode] [nvarchar](4000) NULL,
	[ProductName] [nvarchar](4000) NULL,
	[EstimateCode] [nvarchar](4000) NULL,
	[EstimateName] [nvarchar](4000) NULL,
	[EstimateStartDate] [smalldatetime] NULL,
	[EstimateEndDate] [smalldatetime] NULL,
	[SupplierCode] [nvarchar](4000) NULL,
	[SupplierName] [nvarchar](4000) NULL,
	[BuyType] [nvarchar](4000) NULL,
	[BuyCategory] [nvarchar](4000) NULL,
	[CampaignId] [int] NULL,
	[CampaignPublicId] [nvarchar](4000) NULL,
	[CampaignName] [nvarchar](4000) NULL,
	[PackageType] [nvarchar](4000) NULL,
	[PackageId] [int] NULL,
	[PlacementId] [int] NULL,
	[ParentId] [int] NULL,
	[PlacementName] [nvarchar](4000) NULL,
	[PlacementType] [nvarchar](4000) NULL,
	[Site] [nvarchar](4000) NULL,
	[Dimension] [nvarchar](4000) NULL,
	[Positioning] [nvarchar](4000) NULL,
	[CostMethod] [nvarchar](4000) NULL,
	[UnitType] [nvarchar](4000) NULL,
	[Rate] [float] NULL,
	[IONumber] [nvarchar](4000) NULL,
	[ServedBy] [nvarchar](4000) NULL,
	[AdserverName] [nvarchar](4000) NULL,
	[AdserverSupplierName] [nvarchar](4000) NULL,
	[PlacementMonth] [int] NULL,
	[PlacementMonthlyStartDate] [smalldatetime] NULL,
	[PlacementMonthlyEndDate] [smalldatetime] NULL,
	[PlannedAmount] [float] NULL,
	[PlannedUnits] [bigint] NULL,
	[PlannedImpressions] [bigint] NULL,
	[PlannedClicks] [bigint] NULL,
	[PlannedActions] [bigint] NULL,
	[IOAmount] [float] NULL,
	[SupplierUnits] [bigint] NULL,
	[SupplierImpressions] [bigint] NULL,
	[SupplierClicks] [bigint] NULL,
	[SupplierActions] [bigint] NULL,
	[SupplierCost] [float] NULL,
	[AdserverUnits] [bigint] NULL,
	[AdserverImpressions] [bigint] NULL,
	[AdserverClicks] [bigint] NULL,
	[AdserverActions] [bigint] NULL,
	[AdserverCost] [float] NULL,
	[DeliveryExists] [nvarchar](4000) NULL,
	[MasterClientName] [nvarchar](4000) NULL,
	[ChildCount] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RPT_STG_PARENT_CHILD_PKG_TYPS]    Script Date: 8/9/2017 11:15:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RPT_STG_PARENT_CHILD_PKG_TYPS](
	[AgencyAlphaCode] [nvarchar](4000) NULL,
	[AgencyName] [nvarchar](32) NULL,
	[LocationCompanyCode] [nvarchar](4000) NULL,
	[CampaignStartDate] [smalldatetime] NULL,
	[CampaignEndDate] [smalldatetime] NULL,
	[CampaignStatus] [nvarchar](4000) NULL,
	[RateType] [nvarchar](4000) NULL,
	[Budget] [float] NULL,
	[BudgetApproved] [nvarchar](4000) NULL,
	[CampaignUser] [nvarchar](4000) NULL,
	[MediaCode] [nvarchar](4000) NULL,
	[MediaName] [nvarchar](4000) NULL,
	[AdvertiserCode] [nvarchar](4000) NULL,
	[AdvertiserName] [nvarchar](4000) NULL,
	[ProductCode] [nvarchar](4000) NULL,
	[ProductName] [nvarchar](4000) NULL,
	[EstimateCode] [nvarchar](4000) NULL,
	[EstimateName] [nvarchar](4000) NULL,
	[EstimateStartDate] [smalldatetime] NULL,
	[EstimateEndDate] [smalldatetime] NULL,
	[SupplierCode] [nvarchar](4000) NULL,
	[SupplierName] [nvarchar](4000) NULL,
	[BuyType] [nvarchar](4000) NULL,
	[BuyCategory] [nvarchar](4000) NULL,
	[CampaignId] [int] NULL,
	[CampaignPublicId] [nvarchar](4000) NULL,
	[CampaignName] [nvarchar](4000) NULL,
	[PackageType] [nvarchar](4000) NULL,
	[PackageId] [int] NULL,
	[PlacementId] [int] NULL,
	[ParentId] [int] NULL,
	[PlacementName] [nvarchar](4000) NULL,
	[PlacementType] [nvarchar](4000) NULL,
	[Site] [nvarchar](4000) NULL,
	[Dimension] [nvarchar](4000) NULL,
	[Positioning] [nvarchar](4000) NULL,
	[CostMethod] [nvarchar](4000) NULL,
	[UnitType] [nvarchar](4000) NULL,
	[Rate] [float] NULL,
	[IONumber] [nvarchar](4000) NULL,
	[ServedBy] [nvarchar](4000) NULL,
	[AdserverName] [nvarchar](4000) NULL,
	[AdserverSupplierName] [nvarchar](4000) NULL,
	[PlacementMonth] [int] NULL,
	[PlacementMonthlyStartDate] [smalldatetime] NULL,
	[PlacementMonthlyEndDate] [smalldatetime] NULL,
	[PlannedAmount] [float] NULL,
	[PlannedUnits] [bigint] NULL,
	[PlannedImpressions] [bigint] NULL,
	[PlannedClicks] [bigint] NULL,
	[PlannedActions] [bigint] NULL,
	[IOAmount] [float] NULL,
	[SupplierUnits] [bigint] NULL,
	[SupplierImpressions] [bigint] NULL,
	[SupplierClicks] [bigint] NULL,
	[SupplierActions] [bigint] NULL,
	[SupplierCost] [float] NULL,
	[AdserverUnits] [bigint] NULL,
	[AdserverImpressions] [bigint] NULL,
	[AdserverClicks] [bigint] NULL,
	[AdserverActions] [bigint] NULL,
	[AdserverCost] [float] NULL,
	[DeliveryExists] [nvarchar](4000) NULL,
	[MasterClientName] [nvarchar](4000) NULL,
	[ChildCount] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RPT_STG_PRISMA_COMPLIANCE]    Script Date: 8/9/2017 11:15:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RPT_STG_PRISMA_COMPLIANCE](
	[AgencyAlphaCode] [nvarchar](4000) NULL,
	[AgencyName] [nvarchar](32) NULL,
	[LocationCompanyCode] [nvarchar](4000) NULL,
	[CampaignStartDate] [smalldatetime] NULL,
	[CampaignEndDate] [smalldatetime] NULL,
	[CampaignStatus] [nvarchar](4000) NULL,
	[RateType] [nvarchar](4000) NULL,
	[Budget] [float] NULL,
	[BudgetApproved] [nvarchar](4000) NULL,
	[CampaignUser] [nvarchar](4000) NULL,
	[MediaCode] [nvarchar](4000) NULL,
	[MediaName] [nvarchar](4000) NULL,
	[AdvertiserCode] [nvarchar](4000) NULL,
	[AdvertiserName] [nvarchar](4000) NULL,
	[ProductCode] [nvarchar](4000) NULL,
	[ProductName] [nvarchar](4000) NULL,
	[EstimateCode] [nvarchar](4000) NULL,
	[EstimateName] [nvarchar](4000) NULL,
	[EstimateStartDate] [smalldatetime] NULL,
	[EstimateEndDate] [smalldatetime] NULL,
	[SupplierCode] [nvarchar](4000) NULL,
	[SupplierName] [nvarchar](4000) NULL,
	[BuyType] [nvarchar](4000) NULL,
	[BuyCategory] [nvarchar](4000) NULL,
	[CampaignId] [int] NULL,
	[CampaignPublicId] [nvarchar](4000) NULL,
	[CampaignName] [nvarchar](4000) NULL,
	[PackageType] [nvarchar](4000) NULL,
	[PackageId] [int] NULL,
	[PlacementId] [int] NULL,
	[ParentId] [int] NULL,
	[PlacementName] [nvarchar](4000) NULL,
	[PlacementType] [nvarchar](4000) NULL,
	[Site] [nvarchar](4000) NULL,
	[Dimension] [nvarchar](4000) NULL,
	[Positioning] [nvarchar](4000) NULL,
	[CostMethod] [nvarchar](4000) NULL,
	[UnitType] [nvarchar](4000) NULL,
	[Rate] [float] NULL,
	[IONumber] [nvarchar](4000) NULL,
	[ServedBy] [nvarchar](4000) NULL,
	[AdserverName] [nvarchar](4000) NULL,
	[AdserverSupplierName] [nvarchar](4000) NULL,
	[PlacementMonth] [int] NULL,
	[PlacementMonthlyStartDate] [smalldatetime] NULL,
	[PlacementMonthlyEndDate] [smalldatetime] NULL,
	[PlannedAmount] [float] NULL,
	[PlannedUnits] [bigint] NULL,
	[PlannedImpressions] [bigint] NULL,
	[PlannedClicks] [bigint] NULL,
	[PlannedActions] [bigint] NULL,
	[IOAmount] [float] NULL,
	[SupplierUnits] [bigint] NULL,
	[SupplierImpressions] [bigint] NULL,
	[SupplierClicks] [bigint] NULL,
	[SupplierActions] [bigint] NULL,
	[SupplierCost] [float] NULL,
	[AdserverUnits] [bigint] NULL,
	[AdserverImpressions] [bigint] NULL,
	[AdserverClicks] [bigint] NULL,
	[AdserverActions] [bigint] NULL,
	[AdserverCost] [float] NULL,
	[DeliveryExists] [nvarchar](4000) NULL,
	[MasterClientName] [nvarchar](4000) NULL,
	[ChildCount] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RPT_STG_PRISMA_PIVOT_CUST_COLS]    Script Date: 8/9/2017 11:15:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RPT_STG_PRISMA_PIVOT_CUST_COLS](
	[PlacementId] [int] NULL,
	[INDUSTRY] [nvarchar](4000) NULL,
	[RICH MEDIA/4TH PARTY VENDOR] [nvarchar](4000) NULL,
	[TARGETING TYPE 1] [nvarchar](4000) NULL,
	[WEATHER] [nvarchar](4000) NULL,
	[PUB PAID AD SERVING FEES] [nvarchar](4000) NULL,
	[TIER] [nvarchar](4000) NULL,
	[BUY TYPE] [nvarchar](4000) NULL,
	[CAMPAIGN TYPE] [nvarchar](4000) NULL,
	[REGION2] [nvarchar](4000) NULL,
	[STRATEGY] [nvarchar](4000) NULL,
	[TARGETING TYPE 2] [nvarchar](4000) NULL,
	[CREATIVE TYPE (GIF OR RICH MEDIA TYPE)] [nvarchar](4000) NULL,
	[Publisher Placement] [nvarchar](4000) NULL,
	[RICH MEDIA TYPES - FORMAT] [nvarchar](4000) NULL,
	[AUDIENCE DEMO] [nvarchar](4000) NULL,
	[SECONDARY TARGETING AUDIENCE TYPE] [nvarchar](4000) NULL,
	[AD FORMAT FOR NON-1X1 UNITS] [nvarchar](4000) NULL,
	[CAMPAIGN CATEGORY] [nvarchar](4000) NULL,
	[CLASS] [nvarchar](4000) NULL,
	[DEFAULT URL] [nvarchar](4000) NULL,
	[BUY TYPE 2] [nvarchar](4000) NULL,
	[CHANNEL TYPE 2] [nvarchar](4000) NULL,
	[CHANNEL TYPE 1] [nvarchar](4000) NULL,
	[CREATIVE END DATE] [nvarchar](4000) NULL,
	[LINE OF BUSINESS] [nvarchar](4000) NULL,
	[Rate Card Net Cost Basis] [nvarchar](4000) NULL,
	[COST DETAILS] [nvarchar](4000) NULL,
	[OBJECTIVE] [nvarchar](4000) NULL,
	[PRIMARY CONTENT CHANNEL] [nvarchar](4000) NULL,
	[RATE VALUE CPA] [nvarchar](4000) NULL,
	[Additional Placement Details] [nvarchar](4000) NULL,
	[CREDITED TYPE] [nvarchar](4000) NULL,
	[FUNNEL] [nvarchar](4000) NULL,
	[INVENTORY TYPE 2] [nvarchar](4000) NULL,
	[SEND TO] [nvarchar](4000) NULL,
	[TARGET TITLE] [nvarchar](4000) NULL,
	[TARGETING AUDIENCE TYPE] [nvarchar](4000) NULL,
	[UNILEVER INVENTORY TYPE] [nvarchar](4000) NULL,
	[LINKING URL] [nvarchar](4000) NULL,
	[REGION NAME] [nvarchar](4000) NULL,
	[SECONDARY CONTENT CHANNEL] [nvarchar](4000) NULL,
	[TRIGER] [nvarchar](4000) NULL,
	[CHANNEL] [nvarchar](4000) NULL,
	[IBM INTERNAL COMMENTS] [nvarchar](4000) NULL,
	[Placement Type] [nvarchar](4000) NULL,
	[CATEGORY] [nvarchar](4000) NULL,
	[COMPANY SIZE] [nvarchar](4000) NULL,
	[OFFER CODE] [nvarchar](4000) NULL,
	[POSITIONING (FOR 1X1)] [nvarchar](4000) NULL,
	[DAYPART] [nvarchar](4000) NULL,
	[LANGUAGE] [nvarchar](4000) NULL,
	[MARKETING TACTIC] [nvarchar](4000) NULL,
	[Orginal Dimensions] [nvarchar](4000) NULL,
	[CPA KPI] [nvarchar](4000) NULL,
	[currencyType] [nvarchar](4000) NULL,
	[DEMO] [nvarchar](4000) NULL,
	[FORMAT] [nvarchar](4000) NULL,
	[TRACKING METHOD] [nvarchar](4000) NULL,
	[GEO] [nvarchar](4000) NULL,
	[MAX SITE FILE SIZE/LOOPING RESTRICTIONS] [nvarchar](4000) NULL,
	[richMediaFeeIncluded] [nvarchar](4000) NULL,
	[TACTIC] [nvarchar](4000) NULL,
	[SOLUTION] [nvarchar](4000) NULL,
	[TARGETING CONTEXT TYPE] [nvarchar](4000) NULL,
	[TRAFFIC STATUS] [nvarchar](4000) NULL,
	[RATE VALUE CPC] [nvarchar](4000) NULL,
	[REGION_NAME] [nvarchar](4000) NULL,
	[TOTAL VALUE] [nvarchar](4000) NULL,
	[Type of Tracking] [nvarchar](4000) NULL,
	[CONTENT TYPE] [nvarchar](4000) NULL,
	[RATE VALUE CPM] [nvarchar](4000) NULL,
	[BUY TYPE 1] [nvarchar](4000) NULL,
	[Creative Format] [nvarchar](4000) NULL,
	[CREATIVE START DATE] [nvarchar](4000) NULL,
	[GROUPM CHANNEL] [nvarchar](4000) NULL,
	[NEGOTIATED AV] [nvarchar](4000) NULL,
	[RATE CARD TOTAL COST] [nvarchar](4000) NULL,
	[3RD PARTY VS SITE SERVED] [nvarchar](4000) NULL,
	[EFFORT] [nvarchar](4000) NULL,
	[RATE CARD COST] [nvarchar](4000) NULL,
	[TARGETING DELIVERY TYPE] [nvarchar](4000) NULL,
	[CARD NAME] [nvarchar](4000) NULL,
	[MEDIA TYPE] [nvarchar](4000) NULL,
	[RICH MEDIA 4TH PARTY VENDOR] [nvarchar](4000) NULL,
	[ADDITIONAL PLACEMENT INFO] [nvarchar](4000) NULL,
	[ALT TEXT] [nvarchar](4000) NULL,
	[BUY END DATE] [nvarchar](4000) NULL,
	[capCost] [nvarchar](4000) NULL,
	[Date Details] [nvarchar](4000) NULL,
	[REGION] [nvarchar](4000) NULL,
	[RESEARCH VENDOR] [nvarchar](4000) NULL,
	[richMediaAccepted] [nvarchar](4000) NULL,
	[BUY START DATE] [nvarchar](4000) NULL,
	[CONTENT CHANNEL DETAILS] [nvarchar](4000) NULL,
	[DETAILS] [nvarchar](4000) NULL,
	[TACTIC or PROJECT CODE] [nvarchar](4000) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RPT_temp_parent_child]    Script Date: 8/9/2017 11:15:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RPT_temp_parent_child](
	[child_cnt] [int] NULL,
	[PackageType] [nvarchar](4000) NULL,
	[packageid] [int] NULL,
	[placementid] [int] NULL,
	[parentid] [int] NULL,
	[placementmonth] [int] NULL,
	[plannedAmount] [float] NULL,
	[plannedUnits] [bigint] NULL,
	[PlannedImpressions] [bigint] NULL,
	[PlannedClicks] [bigint] NULL,
	[PlannedActions] [bigint] NULL,
	[IOAmount] [float] NULL
) ON [PRIMARY]

GO
